<!-- footer  -->
<wrapper class="footer">
    <spacer size="20px"> </spacer>
    <container >
        <wrapper class="footer-wrap">
            <spacer size="20px"> </spacer>
            <row> 
                 <column small="12" large="12" class="text-center">
                    <p class="text-center"> Lorem ipsum Irure nisi dolor magna consectetur cillum. </p>
                </column>
            </row>
            <row>
                <columns small="12" large="12" >
                    <p class="text-center"> 123 Main Street, Anytown, USA </p>
                </columns>
            </row>
            <row>
                <columns small="12" large="12">
                    <p class="text-center settings"> Unsubscribe</p>
                    <p class="text-center settings"> Set Email Preferences</p>
                    <p class="text-center settings"> View in Browser </p>
                </columns>
            </row>
        </wrapper>
    </container>
</wrapper>


